@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.logo {
  max-width: 100px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: rgb(255, 106, 0);
  color: antiquewhite;
  border: 0px;
  padding: 1em;
}

button:hover {
  background-color: rgb(122, 52, 2);
}

footer {
  background-color: rgb(255, 106, 0);
  color: antiquewhite;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

footer section {
  max-width: 27%;
  margin: 2rem;
  overflow-wrap: break-word;
}

#app {
  flex: 1;
}

#basketIcon {
  max-width: 60px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#navigation {
  background-color: rgb(255, 106, 0);
}

.menuListsLook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

#navIcon {
  max-width: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.navCategories {
  color: antiquewhite;
  margin-right: 2em;
  display: inline-block;
}

.navCategories h3 {
  font-size: 2rem;
  border-bottom: 1px solid white;
}

.navCategories ul {
  list-style-type: none;
  padding-left: 0;
}

.navCategories li {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.navRollover {
  background-color: rgb(255, 106, 0);
  cursor: pointer;
}

.navRollover:hover {
  background-color: rgb(122, 52, 2);
}

#featuredProducts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#featuredProducts figure {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 300px;
  aspect-ratio: 4/5;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.13);
  margin: 1em;
}

#featuredProducts img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#featuredProducts button {
  align-self: flex-end;
}

.productDetails {
}

.productDetails figure {
  min-width: 100px;

  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.13);
  margin: 1em;
}

.productDetails img {
  display: inline-block;
}

#basketWiev {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 1em;
  margin-bottom: 4rem;
}

#basketWiev section {
  width: 90%;
}

#basketWiev figure {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 300px;
  margin: 0;
  margin-bottom: 1em;
}

#basketWiev img {
  height: 100px;
  object-fit: cover;
  display: inline-block;
}

#basketWiev button {
  height: 20px;
}

/* LOADING SCREEN */

  /* Absolute Center Spinner */
  #loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
#loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgb(255, 106, 0) 1.5em 0 0 0, rgb(255, 106, 0) 1.1em 1.1em 0 0, rgb(255, 106, 0) 0 1.5em 0 0, rgb(255, 106, 0) -1.1em 1.1em 0 0, rgb(255, 106, 0) -1.5em 0 0 0, rgb(255, 106, 0) -1.1em -1.1em 0 0, rgb(255, 106, 0)0 -1.5em 0 0, rgb(255, 106, 0) 1.1em -1.1em 0 0;
    box-shadow: rgb(255, 106, 0) 1.5em 0 0 0, rgb(255, 106, 0) 1.1em 1.1em 0 0, rgb(255, 106, 0) 0 1.5em 0 0, rgb(255, 106, 0) -1.1em 1.1em 0 0, rgb(255, 106, 0) -1.5em 0 0 0, rgb(255, 106, 0) -1.1em -1.1em 0 0, rgb(255, 106, 0) 0 -1.5em 0 0, rgb(255, 106, 0) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  footer {
    background-color: rgb(255, 106, 0);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
  }

  footer section {
    max-width: 100%;
    margin: 2rem;
    overflow-wrap: break-word;
  }
}

.hidden {
  display: none;
}
